<div class="wrapper">
  <div class="container all-pieces">
    <div class= "piece-wrapper">
      <div id="pins" class="transitions-enabled">
        <div class="box" id="pieces-box">
          <%= link_to "DIBUJO", obras_dibujos_path, class:"piece-overlay"  %>
          <%= image_tag @drawing.img.url  %>
          <h1> Dibujo </h1>
        </div>
         <div class="box" id="pieces-box">
          <%= link_to "PINTURA", obras_pinturas_path, class:"piece-overlay"  %>
          <%= image_tag @painting.img.url  %>
          <h1> Pintura </h1>
        </div>
        <div class="box" id="pieces-box">
          <%= link_to "PERFORMANCE", obras_performances_path, class:"piece-overlay"  %>
          <%= image_tag @performance.img.url  %>
          <h1> Performance </h1>
        </div>
        <div class="box" id="pieces-box">
          <%= link_to "MURAL", obras_murales_path, class:"piece-overlay"  %>
          <%= image_tag @mural.img.url  %>
          <h1> Mural </h1>
        </div>
      </div>
    </div>
  </div>
</div>
