<div class="wrapper">
  <div class="container all-pieces">
  <h1> Dibujos <h1>
  <div class="index-tiles-wrapper">
      <div class="outer r4x3">
          <div class="inner">
            <% @drawing.each do |x| %>
              <% if x.model_name.name == "Project" %>
                <a href="<%= project_path(x.id) %>" class="tiles">
              <% elsif x.model_name == "Piece" %>
                <a href="<%= piece_path(x.id) %>" class="tiles">
              <% end %>
                <div class="tiles-overlay">
                  <p> <%= x.title %> </p>
                </div>
                <%= image_tag x.photos.first.img.url %>
              </a>
            <% end %>
          </div>
      </div>
    </div>

    <h1> Pinturas <h1>
    <div class="index-tiles-wrapper">
      <div class="outer r4x3">
          <div class="inner">
            <% @painting.each do |x| %>
              <% if x.model_name.name == "Project" %>
                <a href="<%= project_path(x.id) %>" class="tiles">
              <% elsif x.model_name == "Piece" %>
                <a href="<%= piece_path(x.id) %>" class="tiles">
              <% end %>
                <div class="tiles-overlay">
                  <p> <%= x.title %> </p>
                </div>
                <%= image_tag x.photos.first.img.url %>
              </a>
            <% end %>
          </div>
      </div>
    </div>

    <h1> Performance <h1>
    <div class="index-tiles-wrapper">
      <div class="outer r4x3">
          <div class="inner">
            <% @performance.each do |x| %>
              <% if x.model_name.name == "Project" %>
                <a href="<%= project_path(x.id) %>" class="tiles">
              <% elsif x.model_name == "Piece" %>
                <a href="<%= piece_path(x.id) %>" class="tiles">
              <% end %>
                <div class="tiles-overlay">
                  <p> <%= x.title %> </p>
                </div>
                <%= image_tag x.photos.first.img.url %>
              </a>
            <% end %>
          </div>
      </div>
    </div>

    <h1> Murales <h1>
    <div class="index-tiles-wrapper">
      <div class="outer r4x3">
          <div class="inner">
            <% @mural.each do |x| %>
              <% if x.model_name.name == "Project" %>
                <a href="<%= project_path(x.id) %>" class="tiles">
              <% elsif x.model_name == "Piece" %>
                <a href="<%= piece_path(x.id) %>" class="tiles">
              <% end %>
                <div class="tiles-overlay">
                  <p> <%= x.title %> </p>
                </div>
                <%= image_tag x.photos.first.img.url %>
              </a>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</div>