<div class="wrapper">
  <div class="col-sm-6 col-sm-offset-3">
  <h1> Agregar una nueva obra </h1>
  <br>      
    <%= form_for @piece, html: { multipart: true }  do |f| %>
      <%= f.label "Título" %>
      <%= f.text_field :title, :required => true, class: "form-control", placeholder:"Título" %>
      <br>
      
      <%= file_field_tag "images[]", type: :file, multiple: true, :required => true %>

      <%= f.label "Ficha técnica" %>
      <%= f.text_area :tech_spec, class: "form-control", placeholder: "Ficha técnica"%>
      <br>
      <%= f.label "Medidas" %>
      <%= f.text_field :measurement, :required => true, class: "form-control", placeholder: "Medidas" %>
      <br>
      <%= f.label "Lugar" %>
      <%= f.text_field :place, :required => true, class: "form-control", placeholder: "Lugar" %>
      <br>
      <%= f.label "Fecha de publicación" %>
      <%= f.date_field :published_date, :required => true,  class: "form-control", placeholder: "Fecha de publicación" %>
      <br>
      <%= f.label "Tipo de obra" %>
      <br>
      <%= f.select :piece_type, options_for_select([["Dibujo", "Dibujo"], ["Performance", "Performance"], ["Mural", "Mural"], ["Pintura", "Pintura"]]), include_blank: true, class: "form-control",:required => true  %>
        <br>
        <br>
      <%= f.submit "Agregar obra", class: "btn btn-default col-sm-12"%>
    <% end %>
  </div>
</div>



