 <div class="wrapper" id="item-wrapper">

   <div class="row">
     <div class="col-sm-8 col-sm-offset-2 main-photo">
     <%= image_tag @piece.photos.first.img.url, class: "piece-img" %>   
    </div> 
   </div> 


    <div class="row piece-details">
     <div class="col-sm-8 col-sm-offset-2 ">
        <div class="tech-specs pull-right">  
        <p><%= @piece.title %></p>
        <p>Técnica: <%= @piece.tech_spec %></p>
        <% if @piece.piece_type = "Performance" %>
          <p>Duración: <%= @piece.measurement %></p>
        <% else %>
          <p>Medidas: <%= @piece.measurement %></p>
        <% end %>
        
        <p>Lugar: <%= @piece.place %></p>
        <p>Fecha: <%= @piece.published_date.strftime("%Y") %></p>
        </div>  
      </div> 
    </div> 

</div>





