 <div class="wrapper" id="item-wrapper">
  <div class="col-sm-2 col-sm-offset-10 pull-right">
    <% if current_user && current_user.admin? %>
      <%= link_to "Editar obra", edit_piece_path(@piece.id)  %>
    <% end %>
  </div>

  <div class="row main-photo-container">
    <h1 class="item-title"><%= @piece.title %></h1>
    <div class="col-xs-8 col-xs-offset-2">
      <%= image_tag @piece.photos.first.img.url, class: "main-photo" %> 
    </div> 
  </div>

    <div class="container">
    <div class="row photos-and-details">
      <div class="col-sm-4 col-sm-offset-2 center">
        <div class="thumb-photos-container">
        <% @piece.photos.each do |photo| %>
          <div class="thumb-photos">
            <a class="fancybox" rel="gallery1" href="<%= photo.img.url %>" title="<%= @piece.title %>">
             <img src="<%= photo.img.url %>" alt="" />
            </a>
          </div>
        <% end %>
        </div>
      </div> 

      <div class="col-sm-4">
        <div class="description-specs">  
          <p><%= @piece.tech_spec %></p>
          <p><%= @piece.measurement %></p>
          <p><%= @piece.place %></p>
          <p><%= @piece.published_date.strftime("%Y") %></p>
        </div>  
      </div>

    </div>
    <%= render partial: 'pieces/performance_videos' %>
  </div>

</div>





