<div class="wrapper" id="item-wrapper">

  <div class="col-sm-2 col-sm-offset-10 pull-right">
    <% if current_user && current_user.admin? %>
      <%= link_to "Editar proyecto", edit_project_path(@project.id)  %>
    <% end %>
  </div>


  <div class="row main-photo-container">
    <div class="col-sm-8 col-sm-offset-2">
      <%= image_tag @project.photos.first.img.url, class: "main-photo" %> 
    </div> 
  </div>

  <div class="container">
    <div class="row photos-and-details">
      <div class="col-sm-6 center">
        <div class="thumb-photos-container">
        <% @project.photos.each do |photo| %>
          <div class="thumb-photos">
            <%= image_tag photo.img.url(:thumb)%>
          </div>
        <% end %>
        </div>
      </div> 

      <div class="col-sm-6">
        <div class="description-specs">  
          <p><%= @project.title %></p>
          <p>Descripción: <%= @project.description %></p>
          <p>Fecha: <%= @project.published_date.strftime("%Y") %></p>
        </div>  
      </div>

    </div>
  </div>

</div>




