<div class="contact-me" id="contact-me">
  <div class="contact-me-overlay">
  </div>
  <div class="container">
    <div class="col-sm-10 col-sm-offset-1 contact-me-form">
      <p class="say-hi">Di hola@gabrielaespla.com !<p>
      <br>
    <%= form_for @contact_form do |f|  %> 
      <%= f.text_field  :name, :required => true, class: "form-control contact-input", placeholder: "Nombre"  %> 
      <br>
      <%= f.email_field  :email, :required => true, class: "form-control contact-input", placeholder: "Email"  %> 
      <br>
      <%= f.text_area  :message, :as => :text, :required => true, class: "form-control contact-input", placeholder: "Mensaje", :pattern=>"^([\w+-.%]+@[\w-.]+\.[A-Za-z]{2,4},*[\W]*)+$" %>
      <br>
      <%= f.hidden_field :nickname, :hint => 'Leave this field blank!'  %>
      <%= f.submit "Enviar mensaje", class: "submit-btn msg", id: "email-us"%>
    <% end %>
    </div>
  </div>
</div>


