<div class="wrapper no-background">
 <div class="container">
  <div class="row">
    <div class="col-sm-2 texts-titles">
      <h3> Textos </h3>
      <hr>
      <% @texts.each do |text| %>
        <p><%= link_to text.title, text_path(text.id)%></p>
      <% end  %>      
    </div>
    <div class= "col-sm-8 all-texts">
      <% @texts.each do |text| %>
        <div class="text">
          <h1><%= text.title %></h1>
          <% if current_user && current_user.admin %>
            <%= link_to "Editar texto", edit_text_path(text.id), class:"pull-right" %>
          <% end %>
          <br>
          <%= simple_format text.content, class:"text-content" %>
          <br>
          <br>
          <div class="pull-right">
            <%= text.place %>, <%= text.published_date.strftime("%Y") %>
          </div> 
        </div>
        <hr>
        <br>
      <% end %>
    </div>
  </div>
 </div>
